<meta charset="UTF-8">
<title>Suh Chat</title>
<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
<script src="../node_modules/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="../style.css">
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../node_modules/moment/min/moment.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../dist/app.js"></script>
<script src="../node_modules/socket.io-client/dist/socket.io.js"></script>