<div class="col-md-2 chatRooms">
    <h2>Chat Rooms</h2>
    <ul>
        <li><a href="#" id="createRoom">Create a new chat room</a></li>
    </ul>
    <ul id="rooms">
        <% chatRoom.forEach(function (rooms){ %>
        <li><a href="#"> <%= rooms.room %> </a></li>
        <% }); %>
    </ul>
</div>
<!--for index-->


