li{
    list-style-type: none;

}
.chatRooms ul li {
    margin-left: -40px;
    text-align: left;
}
.chatRooms{
    background-color: #2e3136;
    color: white;
    text-align: center;
    min-height: 100vh;
}
.chatRooms h2{
    border-bottom: 1px solid #4c4c4c;
    margin-left: -15px;
    margin-right: -15px;
}
body{
    background-color: #b6b6b6;
}
.container{
    background-color: #ffffff;
    width: 100%;
}
.chatWindow {
    height: 75vh;
    overflow: auto;
    margin-left: -15px;
    margin-right: -15px;
}

.inputters{
    margin: auto;
}


#users h2{
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.userList{
    min-height: 100vh;
    background-color: #2e3136;
    color: white;
}
.userList h2{
    text-align: center;
    border-bottom: 1px solid #4c4c4c;
    margin-left: -15px;
    margin-right: -15px;
}
.chat{
    background-color: #36393e;
    color: white;
    height:100vh;
}
.input-group{
    display: inline;
}
#messageForm{
    padding-left: 15px;
    padding-right:15px;
    margin-right: -15px;
    margin-left: -15px;
    border-top: 1px solid #4c4c4c;
}

#inputMSg {
    background-color: #424549;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 30px;
    margin-top: 15px;
    border: 2px solid #707070;
}

#rooms li a {
    color: white;
}
#chatHeader h2 {
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #4c4c4c;
}