<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs%>
</head>
<body>
    <% include partials/rooms.ejs %>
    <% include partials/chat.ejs %>
    <% include partials/users.ejs %>
</body>
</html>