<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suh Chat</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../dist/helloworld.js"></script>
    <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
</head>
<body>
<div class="container">
    <p hidden id="userName"></p>
    <div class="row">
        <% include ./partials/rooms %>
        <div class="col-md-8 chat">
            <div class="chatWindow">
                <ul id="chatMsgs">
                </ul>
            </div>
            <div class="row inputters" >
                <div class="row input-group">
                    <form id="messageForm" >
                    <input type="text" placeholder="enter chat msg" id="inputMSg" class="form-control">
                    <input type="submit" value="Send" id="inputBut" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 users">
            <h2>Users</h2>
            <ul>
                <li>Terps</li>
                <li>Chrion</li>
                <li>Steve</li>
                <li>Brix</li>
                <li>Rasmau5</li>
                <li>Emil</li>
            </ul>

        </div>
    </div>
</div>
</body>
</html>