<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suh Chat</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/moment/min/moment.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../dist/app.js"></script>
    <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2 chatRooms">
            <h2>Chat Rooms <a href="#" id="createRoom">+</a></h2>
            <ul id="rooms">
            </ul>
        </div>
        <div class="col-md-8 chat">
            <div id="chatHeader">

            </div>
            <div class="chatWindow">
                <ul id="chatMsgs">
                </ul>
            </div>
            <div class="inputters" >
                <div class="input-group">
                    <form id="messageForm" >
                    <input type="text" placeholder="enter chat msg" id="inputMSg" class="form-control">
<!--                    <input type="submit" value="Send" id="inputBut" class="btn btn-primary">-->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 userList">
            <h2>Active Users</h2>
            <ul id="users">
            </ul>

        </div>
    </div>
</div>
</body>
</html>